/* Universal CSS Section */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}
/* Header */
header {
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

header .flex {
  justify-content: flex-end;
}

nav {
  background-color: cadetblue;
  color: white;
  padding: 1rem 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0px 1rem;
}

.main-banner {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  display: inline-block;
  line-height: 2.4rem;
}

.main-banner h1 {
  padding: 0.75rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2
}

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 22rem;
  }

  nav.container {
    max-width: 100%;
  }
  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .main-banner h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
  .main-banner {
    margin-top: 9rem;
    width: 100%;
    margin-right: 0;
    padding: 0 1rem;
  }

  .main-banner h1 {
    font-size: 1rem;
    text-align: center;
  }

  nav span {
    display: none;
  }

  .menu {
    display: none;
  }
}
/* Supporting Section */
.supporting {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .service {
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }

  .info {
    width: 100%;
}

  .info .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .info p {
    padding: 1rem;
    font-size: 0.77rem;
  }
}
  /* Services Section */
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}
/* Info Section */
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  max-width: 10rem;
}
/* Footer */
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

@media only screen and (max-width: 480px) {
  footer {
    justify-content: center;
  }

  footer div {
    display: none;
  }

  div.info {
    width: 100%;
  }
}
